.talent-tree-container {
    height: 600px;
    width: 800px;
    padding-top: 4rem;
    padding-left: calc(50% - 400px);
    text-align: center;
    z-index: 1;
}

.talent-tree-background {
    height: 600px;
    width: 800px;
    position: absolute;
    left: calc(50% - 400px);
}

.modal {
    max-height: 75% !important;
    width: 600px !important;
    overflow: auto !important;
}

.modal-icon {
    max-height: 75% !important;
    width: 800px !important;
    overflow: auto !important;
}

.talent {
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 1;
}

.top-bar-button {
    color: white !important;
}

.top-bar h1 {
    max-width: calc(50% - 10rem);
}

.no-padding {
    padding: 0 !important;
}

@keyframes fade-in {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.talent-tooltip {
    position: absolute;
    top: 0;
    left: 100px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    color: white;
    width: 10rem;
    animation: fade-in 1s;
}

.left-arrow {
    position: absolute;
    top: 4px;
    left: -20px;
    border: 10px solid;
    border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent;
    z-index: inherit;
}

.talent-list {
    max-height: 184px;
    min-width: 350px;
    overflow: auto;
}

.top-shadow {
    box-shadow: inset 0 6px 14px -6px rgba(0, 0, 0, 0.5);
}

.bottom-shadow {
    box-shadow: inset 0 -6px 14px -6px rgba(0, 0, 0, 0.5);
}

.top-bottom-shadow {
    box-shadow: inset 0 -6px 14px -6px rgba(0, 0, 0, 0.5), inset 0 6px 14px -6px rgba(0, 0, 0, 0.5);
}

.item-selected {
    background: #EEEEEE
    ;
}