.talent-tree-container {
    height: 600px;
    width: 800px;
    padding-top: 4rem;
    padding-left: calc(50% - 400px);
    text-align: center;
}

.modal {
    max-height: 75% !important;
    width: 600px !important;
    overflow: auto !important;
}

.talent {
    height: 80px;
    width: 80px;
}

.top-bar-button {
    color: white !important;
}

.top-bar h1 {
    max-width: calc(50% - 10rem);
}

.no-padding {
    padding: 0 !important;
}